<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.alldocube.M8"
        android:versionCode="2"
        android:versionName="1.1">
        <overlay android:targetPackage="android"
		android:priority="1"
		android:isStatic="true" />
</manifest>
